.calendarContainer {
}
.calendarContainer .calendar {
  background-color: transparent;
  border: 0px;
}
.calendarContainer .react-calendar__tile--now {
  background-color: #4a880c !important;
  opacity: 0.6;
  border-radius: 5px;
}

.calendarContainer .react-calendar__tile--now abbr {
  color: black;
  font-weight: bold;
}
.calendarContainer .react-calendar__tile--active {
  border-radius: 5px;
  background-color: #4a880c !important;
}
.calendarContainer .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 5px;
  background-color: #4a880c !important;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  /* color: #86BA43 ; */
}

.calendarContainer .react-calendar__tile:disabled {
  background-color: #4a880c30;
}

.calendarContainer .react-calendar__navigation__arrow:disabled {
  background-color: #4a880c30;
}

.calendarContainer .react-calendar__navigation__arrow:active {
    background-color: #4a880c;
}